body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	background-color: rgb(103,198,240);
}
.my-form{
	text-align: center;
	color: #FFF;
	margin-top: 5%;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 3px solid rgb(105,180,250);
	box-shadow: none;
	border-radius: 150px;
	font-size: 20px;
	background-color: rgb(103,198,240);
	width: 60%;
	margin-left: auto;
	margin-right: auto;

}
.my-form:focus{
	outline: none;
}
#data::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
#data:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
#data::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
#data:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.twitter-account{
	border-radius: 15px;
	margin-bottom: 10px;
}
a{
	color: white;
}
.name{
	margin-right: 10px;
}
.verified{
	margin-right: 10px;
}
.heading{
	margin-top: 20px;
	text-align: center;
	border-bottom: 2px solid white;
	margin-bottom: 20px;
	padding-bottom: 50px;
}
.content{
	border-bottom: 2px solid white;
	padding-bottom: 40px;
}
.welcome{
	width:100%;
	text-align: center;
	font-size: 60px;
	margin-top: 15%;
}
.body:focus{
	outline: none;
}
.prof-pic{
	width: 55px;
	height: 55px;
}
.verified{
	width: 30px;
	height: 30px;
}
.footer{
	position: absolute;
	bottom: 0;
}
.item{
	width: 135px;
	display: inline-block;
	color: black;
	text-align: center;
}
.built-by{
	margin-left: 25px;
}
.divider{
	width: 15px;
}
.email{
	width: 110px;
}
.website{
	width: 110px;
}
.github{
	width: 60px;
}