body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	background-color: rgb(103,198,240);
}
.my-form{
	text-align: center;
	color: #FFF;
	margin-top: 5%;
	padding-top: 50px;
	padding-bottom: 50px;
	border: none;
	box-shadow: none;
	font-size: 25px;
	background-color: rgb(103,198,240);

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
.twitter-account{
}
a{
	color: white;
}
.name{
	margin-right: 10px;
}
.verified{
	margin-right: 10px;
}
.heading{
	text-align: center;
}
.welcome{
	width:100%;
	text-align: center;
	font-size: 60px;
	margin-top: 15%;
}
.body:focus{
	outline: none;
}
.prof-pic{
	width: 55px;
	height: 55px;
}
.verified{
	width: 30px;
	height: 30px;
}