<!doctype html>
<html>
	<head>
		<title>Who Should You Follow?</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/main.css">
	</head>
	<body>
		<h1 class="welcome">Welcome</h1>
	<form action="/results" method="post" id="input" class="input">
			<div class="form-group">
				<input autofocus autocomplete = "off" type="text" class="form-control my-form" id="data" name = "hashtags" placeholder="What's something you'd like to know more about?">
			</div>
		</form>
		<div id="footer">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<p>built by Robin Pollak | </p>
				</div>
				<div class="col-md-3">
					<a href="mailto:robin@pollak.io">robin@pollak.io</a>
				</div>
				<div class="col-md-1">
					<p> | </p>
				</div>
				<div class="col-md-3">
					<a href="http://robin.pollak.io">robin.pollak.io</a>
				</div>
				<div class="col-md-1">
					<p> | </p>
				</div>
				<div class="col-md-2">
					<a href="github.com/robinspollak">github</a>
				</div>
			</div>
		</div>
	</body>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
	$("input").keypress(function(event) {
		window.console&&console.log('foo');
	    if (event.which == 13) {
	        event.preventDefault();
	        window.console&&console.log('bar');
	        $("#input").submit();
	    }
	});
	</script>
</html>